

<h2>Creating Member with random priority</h2>
<label>Create Member

  <input type="text" [(ngModel)]="name">

</label>



<button (click)="save()"> Save data</button>



<h2>Changing the priority Member with random priority</h2>
<label >Choose a Member</label>

<select (change) = "priority($any($event.target).value)">
  <option *ngFor="let res of membersData;let index as i" value="{{res._id}}">{{res.member_name}}</option>

</select>


<button (click)="savePriority()"> Save data</button>


<div *ngFor="let res of data" >
  <h3>Member Name:{{res.member_name}}</h3>
  <h3>Priority:{{res.priority.priority}}</h3>
  
</div>