.main{

    margin: 50px;
}

table {
    width: 100%;
  }

.button-box{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;

}

button{
    width: 200px;
    background: #8D72E1;
    font-size: 24px;
    height: 64px;
}
th{
    background-color: #8D72E1;
}